<tbody>
  {% for coin in coins %}
  <tr>
    <th scope="row">{{coin.id}}</th>
    <td>{{coin.name}}</td>
    <td>{{coin.symbol}}</td>
    <td>$ {{coin.price|floatformat:4}} <span class="text-muted">{{coin.price_change|floatformat:2}}</span></td>
    <td>{{coin.social_score}} <span class="text-muted">{{coin.social_score_change|floatformat:2}}</span></td>
    <td>$ {{coin.market_cap|floatformat:4}} <span class="text-muted">{{coin.market_cap_change|floatformat:2}}</span></td>
    <td></td>
  </tr>
  {% endfor %}
</tbody>
