{% for coin in coins %}
  {% if coin.price_change > 10 or coin.price_btc_change > 10 or coin.social_score_change > 10 or coin.market_cap_change > 10 or coin.total_volume_change > 10%}
  <tr class="bg-success">
    <td>{{coin.symbol}}</td>
    <td class="alnright">$ {{coin.price|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.price_change > 0 %}
      <span>+{{coin.price_change|floatformat:1}}%</span>
      {% elif coin.price_change < 0 %}
      <span>{{coin.price_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.price_btc|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.price_btc_change > 0 %}
        <span>+{{coin.price_btc_change|floatformat:1}}%</span>
      {% elif coin.price_btc_change < 0 %}
        <span>{{coin.price_btc_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">{{coin.social_score|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.social_score_change > 0 %}
        <span>+{{coin.social_score_change|floatformat:1}}%</span>
      {% elif coin.social_score_change < 0 %}
        <span>{{coin.social_score_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.market_cap|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.market_cap_change > 0 %}
        <span>+{{coin.market_cap_change|floatformat:1}}%</span>
      {% elif coin.market_cap_change < 0 %}
        <span>{{coin.market_cap_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.total_volume|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.total_volume_change > 0 %}
        <span>+{{coin.total_volume_change|floatformat:1}}%</span>
      {% elif coin.total_volume_change < 0 %}
        <span>{{coin.total_volume_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>

  </tr>
  {% elif  coin.price_change < -10 or coin.price_btc_change < -10 or coin.social_score_change < -10 or coin.market_cap_change < -10 or coin.total_volume_change < -10%}
  <tr class="bg-danger">
    <td >{{coin.symbol}}</td>
    <td class="alnright">$ {{coin.price|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.price_change > 0 %}
      <span>+{{coin.price_change|floatformat:1}}%</span>
      {% elif coin.price_change < 0 %}
      <span>{{coin.price_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.price_btc|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.price_btc_change > 0 %}
        <span>+{{coin.price_btc_change|floatformat:1}}%</span>
      {% elif coin.price_btc_change < 0 %}
        <span>{{coin.price_btc_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">{{coin.social_score|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.social_score_change > 0 %}
        <span>+{{coin.social_score_change|floatformat:1}}%</span>
      {% elif coin.social_score_change < 0 %}
        <span>{{coin.social_score_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.market_cap|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.market_cap_change > 0 %}
        <span>+{{coin.market_cap_change|floatformat:1}}%</span>
      {% elif coin.market_cap_change < 0 %}
        <span>{{coin.market_cap_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.total_volume|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.total_volume_change > 0 %}
        <span>+{{coin.total_volume_change|floatformat:1}}%</span>
      {% elif coin.total_volume_change < 0 %}
        <span>{{coin.total_volume_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>

  </tr>
  {% else %}
  <tr>
    <td>{{coin.symbol}}</td>
    <td class="alnright">$ {{coin.price|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.price_change > 0 %}
      <span class="text-success">+{{coin.price_change|floatformat:1}}%</span>
      {% elif coin.price_change < 0 %}
      <span class="text-danger">{{coin.price_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.price_btc|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.price_btc_change > 0 %}
        <span class="text-success">+{{coin.price_btc_change|floatformat:1}}%</span>
      {% elif coin.price_btc_change < 0 %}
        <span class="text-danger">{{coin.price_btc_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">{{coin.social_score|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.social_score_change > 0 %}
        <span class="text-success">+{{coin.social_score_change|floatformat:1}}%</span>
      {% elif coin.social_score_change < 0 %}
        <span class="text-danger">{{coin.social_score_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.market_cap|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.market_cap_change > 0 %}
        <span class="text-success">+{{coin.market_cap_change|floatformat:1}}%</span>
      {% elif coin.market_cap_change < 0 %}
        <span class="text-danger">{{coin.market_cap_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>
    <td class="alnright">$ {{coin.total_volume|floatformat:2}}</td>
    <td class="alnright">
      {% if coin.total_volume_change > 0 %}
        <span class="text-success">+{{coin.total_volume_change|floatformat:1}}%</span>
      {% elif coin.total_volume_change < 0 %}
        <span class="text-danger">{{coin.total_volume_change|floatformat:1}}%</span>
      {% else %}
      0
      {% endif %}
    </td>

  </tr>
  {% endif %}

{% endfor %}
